
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/Dashboard.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+JdAAZVt2t9zPELX+1ex5i5tq+58et1luznxOLf6aRkfjS" crossorigin="anonymous">


<div id="content-wrap" class="dashboard-body">
    <div class="container top-margin" id="main-container">
        <div class="padding-5 to-reveal" data-sr-id="0">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
                    <!-- Используем класс mx-auto для выравнивания по центру -->
                    <a href="https://abcode.dev/Dashboard/Subscriptions" class="no-underline">
                        <div class="card zoom">
                            <div class="text-center card-icon gradient">
                                <i class="fas fa-history fa-5x"></i>
                            </div>
                            <div class="card-text">
                                <h4 class="text-center"><b>Последние действия</b></h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
                    <!-- Используем класс mx-auto для выравнивания по центру -->
                    <a href="https://abcode.dev/Dashboard/Subscriptions" class="no-underline">
                        <div class="card zoom">
                            <div class="text-center card-icon gradient">
                                <i class="fas fa-heart fa-5x" style="line-height: 1;"></i> <!-- Изменили иконку на сердечную -->
                            </div>

                            <div class="card-text">
                                <h4 class="text-center"><b>Любимые аниме</b></h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
                    <!-- Используем класс mx-auto для выравнивания по центру -->
                    <a href="https://abcode.dev/Dashboard/Top" class="no-underline">
                        <div class="card zoom">
                            <div class="text-center card-icon gradient">
                                <i class="fas fa-book fa-5x"></i>
                            </div>
                            <div class="card-text">
                                <h4 class="text-center"><b>Любимые авторы</b></h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
                    <!-- Используем класс mx-auto для выравнивания по центру -->
                    <a href="https://abcode.dev/Dashboard/Profile" class="no-underline">
                        <div class="card zoom">
                            <div class="text-center card-icon gradient">
                                <i class="fas fa-user fa-5x"></i>
                            </div>
                            <div class="card-text">
                                <h4 class="text-center"><b>Мой профиль</b></h4>
                            </div>


                        </div>
                    </a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>


