@model IEnumerable<Anime>
<style>
    .checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 40px;
        width: calc(33.33% - 20px); /* 3 posts per row */
        background-color: #fff;
        transition: background-color 0.3s, transform 0.3s ease;
        display: flex;
        flex-direction: column;
        height: calc(33.33% - 20px);
    }

        .post:hover {
            transform: translateY(-5px);
            background-color: #f8f8f8;
        }

        .post:active {
            transform: translateY(0);
            background-color: #fff;
        }

    .anime-image {
        width: 100%;
        height: auto;
        flex-shrink: 0; /* Prevent image from shrinking */
    }

    .anime-details {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .rating {
        font-weight: bold;
        font-size: 14px;
    }


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
   color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

</style>
<div class="container">
    @foreach (var anime in Model)
    {
        <div class="post">
            <a href="https://en.wikipedia.org/wiki/Brown_bear" target="_blank">
                <div class="anime-image-container">
                    <img class="anime-image" src="@anime.TitleImage">
                </div>
            </a>
            <div class="anime-details">
                <p class="title">@anime.Title</p>
                <p class="rating">Рейтинг</p>
            </div>
        </div>
    }
</div>

