@model IEnumerable<Episode>

<h2>Episodes</h2>
@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var episode in Model)
        {
            <li>
                <a href="@Url.Action("About", "Episode", new { animeName = episode.AnimeName, seasonNumber = episode.SeasonNumber, episodeNumber = episode.EpisodeNumber })">@episode.EpisodeSrc</a>
            </li>
        }
    </ul>
}
else
{
    <p>No episodes found for this season.</p>
}
