@using WebApplication5.ViewModels;
@model CreateEpisodeViewModel

<input type="hidden" asp-for="AnimeName" />
<input type="hidden" asp-for="SeasonNumber" />
<div class="form-group">
    <label asp-for="EpisodeNumber">EpisodeNumber</label>
    <input asp-for="EpisodeNumber" required>
    <span asp-validation-for="EpisodeNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EpisodeSrcUpload">Video File</label>
    <input asp-for="EpisodeSrcUpload" type="file">
    <span asp-validation-for="EpisodeSrcUpload" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EpisodeSrcLink">Video Link</label>
    <input asp-for="EpisodeSrcLink">
    <span asp-validation-for="EpisodeSrcLink" class="text-danger"></span>
</div>

