@using WebApplication5.ViewModels;
@model CreateSeasonViewModel

<input type="hidden" asp-for="AnimeName" />
<input type="hidden" asp-for="SeasonNumber" />
<!--<input type="hidden" asp-for="Episodes" />-->



<div class="form-group">
    <label asp-for="SeasonTitle">Season Title</label>
    <input asp-for="SeasonTitle" required>
    <span asp-validation-for="SeasonTitle" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="SeasonImageSrcUpload">ImageFile</label>
    <input asp-for="SeasonImageSrcUpload" type="file">
    <span asp-validation-for="SeasonImageSrcUpload" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SeasonImageSrcLink">Image Link</label>
    <input asp-for="SeasonImageSrcLink">
    <span asp-validation-for="SeasonImageSrcLink" class="text-danger"></span>
</div>
    
@{

}
<partial name="_CreateEpisode" for="EpisodeVM" />

<!--
<div class="form-group">
    <label>Episode 1</label>
    <input type="hidden" name="Episodes.Index" value="0" />
    <input type="hidden" name="Episodes[0].AnimeName" value="Model.Episodes.ElementAt(0).AnimeName" />
    <input type="hidden" name="Episodes[0].SeasonNumber" value="Model.Episodes.ElementAt(0).SeasonNumber" />
    <input type="hidden" name="Episodes[0].EpisodeNumber" value="Model.Episodes.ElementAt(0).EpisodeNumber" />

    <div class="form-group">
        <label>EpisodeSrc</label>
        <input type="text" name="Episodes[0].EpisodeSrc" required>
        <span class="text-danger"></span>
    </div>
</div>
-->
